.skills {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.icon{
    color: #fac7f6;
    font-size: 30px;  
}

@media(max-width: 600px) {
    .skills {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 50px;
        padding-bottom: 50px;
   margin-right: 20px;
    }
    
}